<form [formGroup]="form">
  <div class="container">
    <div class="container__inputs">
      <div class="container__inputs--search" data-cy="input-search">
        <app-input
          label="Buscar por nombre del país"
          placeholder="Buscar..."
          formControlName="searchControl"
        ></app-input>
      </div>
      <div class="container__inputs--search" data-cy="select-region">
        <app-select-dropdwon
          label="Buscar por región"
          [options]="regions()"
          formControlName="region"
        ></app-select-dropdwon>
      </div>
    </div>
    <div data-cy="table-countries">
      <app-tablet  (rowClicked)="goToDetail($event)" [header]="tableHeaders" [row]="fillRowsTable()"></app-tablet>
    </div>
  </div>
</form>
