////Colors
$color_title: #333;
$color_border: #ccc;
$color_border_focus: #007bff;
$color_border_focus_shadow: rgba(0, 123, 255, 0.25);
$color_background_disabled: #f5f5f5;
$color_background_white: white;
$color_background_white_table: #f5f5f5;
$color_border_bottom: #e0e0e0;
$color_border_secondary: #ddd;
$color_gray: #555;

////Sizing rem
$size_none: 0;
$size_05rem: 0.5rem;
$size_06rem: 0.6rem;
$size_075rem: 0.75rem;
$size_09rem: 0.9rem;
$size_1rem: 1rem;
$size_1_1rem: 1.1rem;

////Sizing px
$size_none: 0;
$size_1px: 1px;
$size_2px: 2px;
$size_3px: 3px;
$size_4px: 4px;
$size_6px: 6px;
$size_8px: 8px;
$size_10px: 10px;
$size_11px: 11px;
$size_12px: 12px;
$size_13px: 13px;
$size_14px: 14px;
$size_15px: 15px;
$size_16px: 16px;


