@use '../../../../styles/variables' as v;

.select-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: v.$size_1rem;

  &__label {
    font-family: Arial, sans-serif;
    margin-bottom: v.$size_05rem;
    font-weight: 600;
    font-size: v.$size_1rem;
    color: v.$color_title;
  }

  &__select {
    padding: v.$size_075rem v.$size_1rem;
    font-size: v.$size_1rem;
    border: v.$size_1px solid #ccc;
    border-radius: v.$size_4px;
    transition: border-color 0.3s ease;
    background-color: v.$color_background_white;

    &:focus {
      outline: none;
      border-color: v.$color_border_focus;
      box-shadow: 0 0 0 v.$size_3px v.$color_border_focus_shadow;
    }

    &:disabled {
      background-color: v.$color_background_disabled;
      cursor: not-allowed;
    }
  }

  @media (max-width: 600px) {
    &__select {
      font-size: v.$size_09rem;
      padding: v.$size_06rem v.$size_09rem;
    }
  }

   @media (min-width: 601px) and (max-width: 1024px) {
    &__select {
      font-size: v.$size_1rem;
    }
  }

  @media (min-width: 1024px) {
    &__select {
      font-size: v.$size_1_1rem;
    }
  }
}